body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button[data-start] {
  min-width: 100px;
}

#datetime-picker {
  height: 50px;
  font-size: 24px;
  max-width: 220px;
}

.timer {
  display: flex;
}

.field {
  text-align: center;
}

.field:not(:last-child) {
  margin-right: 20px;
}

.value {
  display: block;
  font-size: 50px;
  margin-bottom: -10px;
}

.label {
  font-size: 14px;
  text-transform: uppercase;
}

